/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 112px;
  padding-bottom: 20px;
}


html, body, .page-content {
  height: 100%;
}

.page-content {
  margin-bottom: -30px;
}

.navbar-fixed-top {
  margin-bottom: 0;
}

.page-footer {
  display: block;
  padding: 5px;
  clear: both;
}
