extends ../layout

block content
  .carousel.slide#homeCarousel(data-ride="carousel", style="height:300px;")
    ol.carousel-indicators
      li.active(data-target="#homeCarousel", data-slide-to="0")
      li(data-target="#homeCarousel", data-slide-to="1")
      li(data-target="#homeCarousel", data-slide-to="2")
    .carousel-inner(role="listbox")
      .item.active
        .container
          .carousel-as
            h1 Example headline.
            p Primeiro slide
      .item
        .container
          .carousel-as
            h1 Outro Exemplo
            p Segundo Slide

  .container
    .row
      .col-md-4
        h2 Heading
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      .col-md-4
        h2 Heading
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      .col-md-4
        h2 Heading
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
